[2020-05-16 22:05] vinaygaba opened #1 "Add validation checks to annotation processor"
- [ ] Ensure that no params are passed to the methods annotated with @Showcase

[2020-05-16 22:05] vinaygaba opened #2 "Add support to pass in the theme through the @Showcase annotation"

[2020-05-22 04:19] vinaygaba opened #4 "Add detekt checks to this repo"

[2020-05-22 04:20] vinaygaba opened #5 "Setup github actions workflow to run lint, detekt & unit tests"

[2020-05-22 04:21] vinaygaba opened #6 "Upgrade compose version to dev11"

[2020-05-22 04:22] vinaygaba opened #7 "Cleanup unnecessary dependencies"

[2020-05-22 04:33] vinaygaba opened #8 "Add support for incremental annotation processing"

[2020-05-22 05:06] #4 closed, assigned to nobody

[2020-05-22 05:15] #6 closed, assigned to nobody

[2020-05-22 05:42] #7 closed, assigned to nobody

[2020-05-22 07:03] #8 closed, assigned to nobody

[2020-05-22 07:05] vinaygaba opened #13 "Add support for specifying height/width of a component"

[2020-05-22 07:56] #1 closed, assigned to nobody

[2020-05-22 07:58] vinaygaba opened #15 "Updated package name to match module name"

[2020-05-22 23:38] #15 closed, assigned to nobody

[2020-05-22 23:38] vinaygaba opened #17 "Change visibility modifiers to only expose the bare minimum needed from Showcase"

[2020-05-23 00:18] #17 closed, assigned to nobody

[2020-05-23 00:20] vinaygaba opened #19 "Add support for declaring a Showcase composables inside a class"
You should be allowed to add composables either inside a class or at the top level. Right now, only top level composables are supported

[2020-05-23 05:30] vinaygaba opened #20 "Add default group/name if no value is specified"
Alternatively, we can make the group/name field as required.

[2020-05-23 05:41] #13 closed, assigned to nobody

[2020-05-23 06:03] #20 closed, assigned to nobody

[2020-05-24 21:35] vinaygaba opened #25 "Add check to ensure only methods annotated with @Composable annotation qualify for the @Showcase annotation"

[2020-05-25 06:12] #25 closed, assigned to nobody

[2020-05-26 02:47] vinaygaba opened #27 "Add search functionality to search for groups/component name based on the screen you are in."

[2020-05-26 03:18] vinaygaba opened #28 "Fix regression for ShowcaseProcessor not being incremental"
This happened because the packages were changed

[2020-05-26 07:47] #27 closed, assigned to nobody

[2020-05-26 07:49] #28 closed, assigned to nobody

[2020-06-04 06:46] #19 closed, assigned to nobody

[2020-06-04 07:06] #2 closed, assigned to nobody

[2020-06-05 03:07] #5 closed, assigned to nobody

[2020-06-05 22:49] vinaygaba opened #34 "Use non snapshot version of kotlin-poet when its available"
We were using 1.6.0-SNAPSHOT because there were some bug fixes in the KotlinPoet library that we relied on. Now that 1.6.0 has officially launched, we should start using the stable version

[2020-06-05 22:52] vinaygaba opened #36 "Add tests for the annotation processor"

[2020-06-05 22:57] #34 closed, assigned to nobody

[2020-06-07 23:04] #36 closed, assigned to nobody

[2020-06-07 23:05] vinaygaba opened #41 "Add UI Tests for the browser"

[2020-06-07 23:05] vinaygaba opened #42 "Upgrade library to use compose dev12"

[2020-06-07 23:19] #42 closed, assigned to nobody

[2020-06-09 05:20] vinaygaba opened #44 "Update back navigating logic to use the "Compose" way of doing it"
https://kotlinlang.slack.com/archives/CJLTWPH7S/p1591558024394400

[2020-06-09 05:32] #44 closed, assigned to nobody

[2020-07-08 06:51] vinaygaba opened #60 "Make declaring root module optional for single module projects"
Current project setup requires the following class to be declared in each module

[code]

This is mainly needed to make this library compatible with multi-module projects. It would be nice if this was optional for single module projects. Not a big deal but would be a nice-to-have.

[2020-07-31 23:32] vinaygaba opened #72 "Sort the generated code to make it more deterministic"

[2020-08-03 17:11] vinaygaba opened #76 "Make sure that the error checks in the compile tests are up-to-date and accurate"
I noticed some situations where the error message check is not happening correctly. Fix it!

[2020-08-11 03:36] #72 closed, assigned to vinaygaba

[2020-08-13 03:35] #76 closed, assigned to vinaygaba

[2020-08-13 03:36] vinaygaba opened #79 "Handle case when group and name are empty strings"

[2020-08-19 03:36] #79 closed, assigned to nobody

[2020-08-31 17:53] #41 closed

[2020-10-08 08:38] peterfortuin opened #111 "ClassNotFoundException: androidx.compose.foundation.layout.InnerPadding"
This project looks really promising, but I run into problems when I try to integrate this into my application.

As soon as I run
`startActivity(createShowkaseBrowserIntent(this))`
the application crashes with the following stacktrace:

[code]

I use the following versions:
Showkase: 1.0.0-alpha02
Gradle Wrapper: 6.6.1
Android Gradle Plugin: 4.1.0-rc03
Jetpack Compose: 1.0.0-alpha03

[2020-10-17 16:27] vinaygaba commented on #111
I somehow completely missed noticing this issue! Thanks for reporting it, I'm going to take a look!

[2020-10-17 16:32] vinaygaba commented on #111
@peterfortuin I think this might be related to the difference between the compose versions used in the library and the one you are using. Can you try using the `alpha02` version of Jetpack Compose and giving it a shot?

I recently just bumped up the library to the latest version - https://github.com/airbnb/Showkase/pull/112. I'll be doing a release in the next couple days so you should be able to

[2020-10-20 19:11] ericntd opened #113 "java.lang.NoSuchMethodError: No static method"
The crash:
[code]

The only set of components I have:
[code]

Any ideas?

[2020-10-20 20:00] vinaygaba commented on #113
Can you try compiling it against `alpha02` version of compose. I suspect it's probably because of incompatibility between the version of compose you are using vs the one the library uses.

I'm bumping up the library version tomorrow night so this should be a temporary issue.

[2020-10-20 20:12] ericntd commented on #113
Thanks but all versions before `alpha05` seems to be not found for me
[code]
Not sure if I'm doing anything wrong

[2020-10-20 20:50] vinaygaba commented on #113
Can you try this `androidx.compose:compose-compiler:1.0.0-alpha02`. If this works, it's because if you notice carefully, the artifact group id's are slightly different. `androidx.compose:compose-compiler` vs `androidx.compose.compiler:compiler`

[2020-10-20 20:51] vinaygaba commented on #113
I think it's because the group id's are slightly different between alpha02 and alpha05. Let me do a release today and that might be the least painful way to fix your problem. I'll ping you here once I do the release!

[2020-10-21 19:48] vinaygaba commented on #113
@ericntd Can you try the latest release of this library. Hopefully that should fix the problem

[code]

[2020-10-21 21:10] ericntd commented on #113
Works like a charm, thanks a lot @vinaygaba 👏

[2020-10-21 21:10] #113 closed

[2020-10-21 21:16] vinaygaba commented on #113
Glad to hear that!

[2020-10-21 21:17] vinaygaba commented on #111
@peterfortuin Can you try the latest release of this library. I believe that will certainly fix your problem!

[code]

[2020-10-22 08:04] peterfortuin commented on #111
If I downgrade to compose 1.0.0-alpha02 I have another problem. Maybe not related to this. I'm not sure if I can upgrade to the latest version of compose. Have to check.
To be continued.

[2020-10-22 16:33] vinaygaba commented on #111
@peterfortuin You don't need to downgrade anymore! You can use the latest version of compose as this library has been upgraded!

[2020-10-23 06:29] peterfortuin commented on #111
I have included `showkase:1.0.0-alpha03` into my project with `compose:1.0.0-alpha04` and that seems to work.

But now that I have it working, I'm not sure how useful it is for me.

Some things that I noticed:

- The Components part directly crashes for me, because I use ViewModels on a lot of places inside @Composable functions and those ViewModels have constructor parameters. Of course Showkase

[2020-10-24 02:51] vinaygaba commented on #111
Hey @peterfortuin,
I'm glad the original issue that you reported is fixed now. I can try to address some of the points you raised -

1. Showkase (and Jetpack Compose) does have a way to [provide parameters](https://developer.android.com/reference/kotlin/androidx/ui/tooling/preview/PreviewParameter) for preview. It does so using the `@PreviewParameter` annotation. I recently added support for it bu

[2020-10-24 02:51] #111 closed

[2020-10-24 02:53] vinaygaba opened #115 "Add support for colors that are in resources folder"
Feature request by @peterfortuin

[2020-10-27 19:32] alorma opened #116 "How to launch intent from library module"
I have a library module where I've added Showkase as a `compileOnly` dependency, to allow who implements the module decide if want te add the module or not.

When I try to add the method to create the intent, is not created.

Method will be there:

https://github.com/alorma/Compose-Debug-Drawer/blob/main/developer-shortcuts/src/main/java/com/alorma/developer_shortcuts/ShortcutsModule.kt#L20

And t

[2020-10-28 16:27] vinaygaba commented on #116
Thanks for reporting! I'll have to pull the code and play with it to debug it. Will get back once I have more info @alorma !

[2020-10-28 16:55] alorma commented on #116
Many appreciated.

Repository is ready to clone and use, you won't need any special config for it.

Thanks

[2020-10-30 02:21] vinaygaba commented on #116
Hey! I was able to run Showkase in Compose-Debug-Drawer. I'm curious about the use case you are trying to support? Showkase requires the presence of a `@ShowkaseRoot`. If you look at the README, you will see one of the installation steps requires you to add the root module.

[code]

Once I added that to the developer-shortcuts module, I was able to run it correctly (I downgraded compose to `alpha0

[2020-10-30 06:59] alorma commented on #116
Hi @vinaygaba thanks for your time and your answer.

I Was try to create a default "shortcuts" module for common tools uses on android apps / compose apps, I've added leak canary, notification channels... and I thought your library could be a great addition to it.

It still can be done, but not from a library itself, so users will need to do it by themselves.+
Many thanks

[2020-10-30 06:59] #116 closed

[2020-12-15 11:11] yektasarioglu opened #123 "java.lang.NoSuchMethodError: No static method setContent"
I'm using `1.0.0-alpha08` version which is the same compose version as the library. Any ideas on how to solve it?
[code]

[2020-12-21 06:55] vinaygaba commented on #123
@yektasarioglu If you try the latest version of Showkase `alpha04`, it should fix the issue. Also use the latest version of compose that just launched (`alpha09`). This combination should def fix the issue in my opinion. Let me know if you observe otherwise.

[2020-12-21 19:43] yektasarioglu commented on #123
@vinaygaba I encountered [this compiler error](https://issuetracker.google.com/issues/176046527) after upgrading to `alpha09`. That's why I can't even build the project for the testing. I would share the result as soon as I test it. Thank you for getting back to me.

[2020-12-21 19:48] vinaygaba commented on #123
@yektasarioglu Yeah I recently bumped up Showkase to use the latest version of compose. Unfortunately, compose versions aren't compatible among each other so you will have to upgrade your compose version to `alpha09` :( I have no control over that unfortunately as that is a compose compatibility issue.

[2020-12-21 19:51] yektasarioglu commented on #123
I did but I still got the same compiler error :/

[2020-12-21 20:53] vinaygaba commented on #123
@yektasarioglu Okay let me take a deeper look at this and see if I can repro. Is the stack trace identical? Were you using any other compose libraries like navigation, paging, accompanist, etc?

[2020-12-21 20:58] yektasarioglu commented on #123
Accompanist is the only compose library that I use at the moment.

[2020-12-21 21:23] vinaygaba commented on #123
@yektasarioglu And are you using this version - https://github.com/chrisbanes/accompanist/releases/tag/v0.4.1
Because the older version of Accompanist will not work with compose `alpha09`

[2020-12-21 21:31] yektasarioglu commented on #123
Yes. I did upgrade Accompanist to the latest `0.4.1` version and unfortunately still getting this compiler issue.

[2020-12-21 21:49] vinaygaba commented on #123
@yektasarioglu So I just tested it on an existing project and I did not encounter this issue. Try to invalidate the cache and build again and if that doesn't work either, could you publish your project on github so that I can take a look.

[2020-12-21 22:53] yektasarioglu commented on #123
@vinaygaba I tried almost any tricks to get a successful build so that I can test it but it seems to be a Compose compiler issue rather than any other libraries. There are already [three open issues](https://issuetracker.google.com/issues?q=java.lang.AssertionError:%20CALL%20%27public%20final%20fun%20%3Cget-currentComposer%3E%20():%20androidx.compose.runtime.Composer%3C*%3E%20declared%20in%20andro

[2020-12-21 22:53] #123 closed

[2021-02-09 18:32] karanDhillon opened #126 "NullPointerException build error for 'showkase-processor-testing' module"
### Steps taken
• Fork the project.
• Build the project.

### Expected
• Project build successful.

### Actual
• Build error thrown `NullPointerException`, with the following crashlog:
[code]
Android Studio also throws a lint error as shown below:
![ss](https://user-images.githubusercontent.com/32627089/107410354-31c04b80-6adb-11eb-9881-3fb56cfb24a4.png)

[2021-02-09 18:55] karanDhillon commented on #126
Project compiles and runs fine (showcase-sample) when the following segments are removed:
[code]
I'm not entirely sure if this is because of my setup.

[2021-02-10 18:29] vinaygaba commented on #126
Oh that's not good! I'm going to try and repro this today and get back to you. Haven't seen this before!

[2021-02-12 05:37] vinaygaba commented on #126
@karanDhillon Had you made any changes at all before you started seeing this error? Like any gradle/compose upgrades or anything of that nature? Since the builds passed in the previous commits, I'm not sure why the CI builds would fail without any changes. There probably had to be some changes for them to fail now.

[2021-02-12 05:42] vinaygaba commented on #126
Not only can I build the latest master, I can also run the tests locally with the problematic module `showkase-processor-testing`

<img width="595" alt="Screen Shot 2021-02-11 at 7 41 48 PM" src="https://user-images.githubusercontent.com/4281910/107734319-3171ad00-6ca1-11eb-93e1-07c2eb10ee54.png">

[2021-02-12 07:52] vinaygaba commented on #126
Okay I was able to finally repro it. This should only happen after the Java 11 upgrade. Java 9 removed `rt.jar` and `tools.jar` which is what I needed to add to the `testImplementation`. I still found a replacement for `rt.jar` in JDK11 but haven't found a replacement for `tools.jar` yet. Need to figure out what alternate strategies I could use but until then we would be blocked on making this upg

[2021-02-12 08:05] vinaygaba commented on #126
I was able to locally fix this issue. I pushed a fix to this branch - https://github.com/airbnb/Showkase/compare/karanDhillon-feature/update-gradle-version-and-android-gradle-plugin-version?expand=1

Feel free to copy over the updates into your branch. I think this should work.

[2021-02-12 15:32] karanDhillon commented on #126
Hmm I didn't make any change when I cloned `master`. However, to be certain I'll make a fresh clone and confirm if the issue still exists when we are targeting JDK `1.8`. The only things that comes to mind I always ran this project on AS arctic fox Canary 4, so maybe the embedded JDK was causing this issue.

I will try the new clone on a stable version of AS and report here 👍🏻.

[2021-02-12 17:30] vinaygaba commented on #126
Yeah the embedded jdk explains the repro on your end. Thanks for following through and double checking this.

re: jar files - I've asked for some help here in case you want to follow along - https://androidstudygroup.slack.com/archives/C03KKLGC2/p1613118383344600

[2021-02-12 17:45] karanDhillon commented on #126
Unfortunately cant access the workspace as I'm not a member of the workspace. however, I found a solution as the `Class` files from `tools.jar` were moved to `java.compiler.cmod`. This compiles on my end at JDK `11`, and this issue in build #127 seems to be working (but its throwing a different error now):
[code]

[2021-02-12 17:57] vinaygaba commented on #126
Yeah this is the same error that even I was seeing. This error is exactly why we needed to add the runtime jar and the tools jar to the classpath. This error basically tells us that whatever we are trying to do to replace these jars isn't working 😓

[2021-02-12 17:59] karanDhillon commented on #126
I'd grow old before I'd figure out why its working on my setup 🤣 .

[2021-02-18 09:15] sanogueralorenzo opened #129 "Showkase for Epoxy?"
Hello 👋

Are there any plans to open source the Showkase annotation you have for Epoxy?

Trying to maintain design system components with epoxy in a showcase app has been challenging mostly for the manual work it involves (multiple permutations) and the organization it involves.

Thank you 🙏

[2021-02-28 08:48] vinaygaba commented on #129
Sorry about missing this issue 😓 I've regularly work on and upgrade this repo but somehow missed seeing this. I think this is a reasonable request. We do have an internal version of the tool that provides support for classic Android & Epoxy (Showkase was inspired from it). Adding support for that to Showkase would be a good amount of work although I'm not opposed to it. I'm curious to see how many

[2021-03-05 13:56] sanogueralorenzo commented on #129
Thanks for the reply!

My idea was more having a new library `Showpoxy` 😄 but yeah I agree, it is a bit late asking for this since Compose is around the corner and if it is internal and not easy to open source there is no problem, completely understand.

Will definitely integrate Showkase when we start migrating to Compose!

[2021-03-08 08:27] alorma opened #135 "Dark mode demo not working"
![Captura de pantalla 2021-03-08 a las 9 26 04](https://user-images.githubusercontent.com/887462/110294625-5f23ea80-7ff0-11eb-971e-6190d5bf6c24.png)

Hi.

I'm using this code to change (and animate) dark mode from a debug drawer:

[code]

So, showkase not shows the dark mode / l right mode correctly

[2021-03-09 02:36] vinaygaba commented on #135
Hey @alorma! Thank you for reporting this. Can I ask you a couple follow up questions -

- How are you enabling the dark mode from the debug menu. Could you point me to the code that you are using?
- Which Android API version was your emulator/device using?

[2021-03-09 02:38] vinaygaba commented on #135
@alorma Actually, I have a feeling that if you just display this component on the screen and then toggle dark mode through the system settings, this component will not be updated. Can you try doing that and report your findings?

[2021-03-09 06:10] alorma commented on #135
Uhmm, you are right.

I've used this code to change dark mode from drawer, using a state with `isSystemDark()` as an initial value:

https://github.com/alorma/Restaurant-Menu-numbers/blob/main/app/src/main/java/com/alorma/menunumbers/ui/base/modules/DarkThemeModule.kt

[2021-03-09 07:59] alorma commented on #135
I've removed my custom code for do weird things with dark mode.

But, as now is the same as provided by default template... it says the same, dark and light versions are the same color :S

![Captura de pantalla 2021-03-09 a las 8 58 35](https://user-images.githubusercontent.com/887462/110437403-a32cf300-80b5-11eb-9925-5838ee8a1377.png)

[2021-03-09 08:08] vinaygaba commented on #135
@alorma Which Android API is running on your device/emulator? I was able to see the dark mode correctly with the exact code that you shared when you posted this issue :O

[2021-03-09 08:09] alorma commented on #135
Android 29, just an emulator

[2021-03-09 08:28] vinaygaba commented on #135
Here's what I see when I used the `RestaurantMenuNumbersTheme` composable.

<img width="471" alt="Screen Shot 2021-03-08 at 10 23 58 PM" src="https://user-images.githubusercontent.com/4281910/110440672-ff175d80-805c-11eb-848a-39a816149d95.png">

I think I might have a clue about what's going on. So copy paste the following code and give it a shot -

[code]

Can you give it a shot and post a screen

[2021-03-09 16:33] alorma commented on #135
![Captura de pantalla 2021-03-09 a las 17 33 46](https://user-images.githubusercontent.com/887462/110504591-9c29d300-80fd-11eb-9a98-4fa9152106a9.png)

[2021-03-09 16:35] alorma opened #136 "Showkase scaffold UI"
Hi.

Just wondering, why not using scaffold and TopAppBar to have a better material "look" on showkase, and instead show a custom top bar

![Captura de pantalla 2021-03-09 a las 17 35 09](https://user-images.githubusercontent.com/887462/110504785-cc717180-80fd-11eb-85f8-71f5699c5dab.png)

[2021-03-09 17:11] vinaygaba commented on #135
@alorma And what do you see on the next screen which also show the permutations of this component?

[2021-03-09 17:13] alorma commented on #135
Oh sorry, my bad

[2021-03-09 17:13] vinaygaba commented on #136
That used to be the case until the last release. There are some issues with Compose beta01. This is the code where I had to comment it - https://github.com/airbnb/Showkase/pull/130/files#diff-b30e56106f28f96c55285c2222abafe8741686b67e5e1de440160e5b6aa7a302R112

Related conversation - https://kotlinlang.slack.com/archives/CJLTWPH7S/p1614749703084000

[2021-03-09 17:13] #136 closed

[2021-03-09 17:17] alorma commented on #135
Uhm, that's weird...

![Screenshot_20210309_181700](https://user-images.githubusercontent.com/887462/110510602-a949c080-8103-11eb-8b51-3d2c9a067838.png)

[2021-03-09 17:28] vinaygaba commented on #135
@alorma This worked as expected yeah? The reason why your original example might not be working is because the `content` that you passed to `RestaurantMenuNumbersTheme` wasn't using colors from the theme. If you changed that, dark mode will start working as expected. In my example, because I wrapped my `Text` inside a `Surface`, those composables have logic to directly use the MaterialTheme for st

[2021-03-09 17:29] alorma commented on #135
Uhmm, but the original example is just a floating button and using it by default...

[2021-03-09 17:40] vinaygaba commented on #135
@alorma So I see that FAB uses the `secondary` color as its background. When I looked at the default dark and light color palettes, I noticed that they use the same color - `0xFF03DAC6`. Hence the color does not change.

[2021-03-09 19:46] alorma commented on #135
Sorry... I'm losing something...

[code]

So, both `secondary` colors are different.

Also, I have to previews, one light and one dark, and this is the result:

<img width="120" alt="Captura de pantalla 2021-03-09 a las 20 45 12" src="https://user-images.githubusercontent.com/887462/110528455-76f68e00-8118-11eb-9544-9e94a2e470d6.png">
<img width="120" alt="Captura de pantalla 2021-03-09 a las 20 4

[2021-03-15 15:13] Dambakk opened #138 "Previewing a component that is scrollable"
Hi!

I have a component that uses the `verticalScroll` modifier. Previewing it in AS works fine, but when opening the group which contains this composable in the Showkase activity, I get an exception saying:

[code]
How should I go about resolving this, or isn't this functionality taken into account yet?

[2021-03-16 19:53] #129 closed

[2021-03-16 20:43] vinaygaba commented on #135
I think this is because in the last screenshot,  you have enabled dark mode system wide. That forces the other previews to also render what its supposed to render in dark mode. Was dark mode enabled system wide when you took the 3rd screenshot? @alorma

[2021-03-16 20:44] vinaygaba commented on #138
@Dambakk Thanks for flagging this! I haven't tested with this so I would say that its currently unsupported but definitely feel that support for this should exist. I'll take a stab at this later today and report my findings!

[2021-03-17 07:38] alorma commented on #135
Uhmmm, I think yes ... but no worry, feel free to close this issue

[2021-03-17 18:51] #135 closed

[2021-03-17 18:54] vinaygaba commented on #138
@Dambakk Any chance you could share your component  that used the `verticalScroll` modifier here so that its easier to repro and fix!

[2021-03-17 19:26] Dambakk commented on #138
Of course! So this is taken from the official `verticalScroll` modifier example from [the docs](https://developer.android.com/jetpack/compose/gestures#scroll-modifiers):

[code]

except that the size is `fill...` instead of fixed. It works fine (that is the browser activity does not crash) when the composable has a fixed height, but crashes with the exception pasted above when the size (or height

[2021-03-17 22:02] vinaygaba commented on #138
I was able to reproduce it with the snippet! I think the stacktrace message isn't totally accurate as you are able to scroll in the same directly correctly when you specify a fixed height to the composable(as you rightly pointed out). Think I need to do a bit more digging to find a fix for it. @Dambakk

[2021-03-18 07:24] Dambakk commented on #138
Cool! Let me know if I can help with anything! 🙋

[2021-04-21 12:48] benkay opened #147 "Component browser crashes when using Compose-beta04"
The implemention of the inline `Row` function changed in beta04, and now when trying to open the browser in a project compiled with the latest Compose version it immediately crashes with `java.lang.NoSuchFieldError: No static field Companion of type Landroidx/compose/foundation/layout/RowScope$Companion; in class Landroidx/compose/foundation/layout/RowScope; or its superclasses`

The fix should be

[2021-04-22 07:45] vinaygaba commented on #147
I'll do a release tomorrow with the latest version of Compose and that should most likely fix this like you recommended!

[2021-04-27 16:52] vinaygaba commented on #147
Latest release is out - https://github.com/airbnb/Showkase/releases/tag/1.0.0-alpha10
This should fix the issue :) Let me know if it doesn't!

[2021-04-27 16:52] #147 closed

[2021-04-27 16:55] vinaygaba commented on #126
This should be fixed now as the upgrade to Java 11 was done in this PR - https://github.com/airbnb/Showkase/pull/145

[2021-04-27 16:55] #126 closed

[2021-04-28 06:44] Dambakk commented on #138
Hey! How's it going? Any progress yet?

[2021-05-19 16:21] igorwojda commented on #123
I am observing this as well with `1.0.0-beta07`. This fixed the issue for me

[code]

[2021-06-03 07:35] Dambakk opened #151 "Update to target latest Compose version?"
Hi!

Compose Beta-08 just came out! Showkase currently targets beta-05. Are there any plans to update this library to target the latest version?

[2021-06-03 15:38] vinaygaba commented on #151
Someone opened up a PR for the latest version - https://github.com/airbnb/Showkase/pull/152#pullrequestreview-675429080

Will be doing a release today as soon as that merged

[2021-06-06 21:20] vinaygaba commented on #151
The latest version of Showkase just released and that takes care of this issue 🎉

https://github.com/airbnb/Showkase/releases/tag/1.0.0-alpha11

[2021-06-06 21:20] #151 closed

[2021-06-20 09:44] StephanSchuster opened #154 "NoSuchMethodError: No static method Text"
When launching showcase I get the following crash. I am using compose beta 09 since I cannot use beta 08 due to other reasons. Is this crash because showkase is not yet compatible with compose 09 or am I doing something wrong. The stacktrace does not make much sense to me. I would assume Text should be available in either version, right?

Thanks for helping.

`
java.lang.NoSuchMethodError: No stat

[2021-06-21 17:48] vinaygaba commented on #154
You are right! This is because of Compose still not offering binary compatibility just yet. I'll be bumping up compose and doing a release later today. That should fix the crash you are seeing.

[2021-06-22 13:07] StephanSchuster commented on #154
Thank you. I am looking forward to the "alpha-12" release.

[2021-06-26 19:55] #154 closed

[2021-06-27 18:22] vinaygaba commented on #154
https://github.com/airbnb/Showkase/releases/tag/1.0.0-alpha12 is ready for use!

[2021-06-27 18:47] StephanSchuster commented on #154
Thanks. Will try it out immediately.

[2021-06-28 09:42] xatok opened #157 "Kapt always fails with ClassNotFoundException"
I'm trying to integrate Showkase in a compose project as a separate Android app module, and I consistently get this error every time I build the project:

[code]

I made sure to be using the save versions for `compose`, `compose-activity`, `compose-navigation` and `compose-constraintlayout`. Have tried to disable many other dependencies that might be causing the issue with kapt, but at this point

[2021-06-30 09:04] vyshas opened #158 "How to omit preview composables from showkase"
Excellent library so far and very useful. Is there a way to omit Preview components from not appearing in Showkase browser ?

[2021-07-16 19:08] vinaygaba commented on #158
Glad to hear that you like it. I think this is a pretty valid request. I'm curious to learn more about your use case. Why do you want something to be previewed in Android Studio but want to avoid it in the Showkase browser? Just trying to learn more about how this library is being used @vyshas

[2021-07-16 19:13] vinaygaba commented on #157
I'm curious about why you are trying to integrate it as a separate Android project as opposed to the library directly? Will be hard to debug this without seeing your setup.

[2021-07-16 19:13] vinaygaba commented on #157
Also can you try with the latest version of the library that was release yesterday. It supports the latest version of compose!

[2021-07-23 08:12] vyshas commented on #158
Hi @vinaygaba ,

Showkase actually solved a big problem for our android team  as it would provide out of the box solution for design catalog or UI components app built in compose from our UI components library. We have plenty of engineers working on the UI components library and AS preview is used for debugging, seeing how the components appears in AS however not all of them need to be there in sh

[2021-07-30 16:53] L7ColWinters commented on #158
Hi, I wanted to chime in and say that liking what you have provided with Showkase so far. We have a bug where if we want a screen that has a vertical scroll, it will crash showkase. If we could omit those previews for the full screens then it would be easier to use Showkase. I know that ideally you would just fix the bug but since many bugs can show up over time, until those bugs get fixed it woul

[2021-07-30 16:54] L7ColWinters commented on #138
It still crashes :(

[2021-07-30 23:42] paulnunezm commented on #138
Yeah, I can see the issue too :/

[2021-08-03 04:44] vinaygaba commented on #158
Thank you for providing more context. I'm working on an API that would allow you to skip the composables! Will add y'all to the PR once its ready (should be soon)

[2021-08-03 05:15] vinaygaba commented on #138
I did some more research about why this error is even throw. For anyone interested, here's the thread that explains why this happens - https://kotlinlang.slack.com/archives/CJLTWPH7S/p1616434089403900?thread_ts=1616403538.380900&cid=CJLTWPH7S

In order to get around this issue, what you need to ensure is that when your component is in preview mode, it isn't trying to use `fillMaxHeight`. One way t

[2021-08-04 06:15] Dambakk commented on #138
I'm on vacation for another week, but my initial thoughts is that what you describe will probably work, but that it feels like a workaround rather than a solution. It would be interesting to know more about how the AS preview handles this situation. Anyone at Google we can ask?

[2021-08-04 06:24] vinaygaba commented on #157
Just encountered this issue and have pushed a fix for it! @xatok

[2021-08-04 06:36] vinaygaba commented on #138
@Dambakk Preview most likely doesn't encounter this issue because they aren't trying to render a scrollable composable inside a scrollable composable. The reason I encounter it is because the Showkase browser app is built using Compose itself and it renders the composable functions inside a LazyColumn. One way to potentially fix it would be to write the Showkase browser app using a RecyclerView bu

[2021-08-04 06:40] #157 closed

[2021-08-04 06:45] Dambakk commented on #138
Right... Hmm.. I havent looked at the showkase source yet, but would it be possible to set like a max height/width for the rendered composable to e.g. the height of the screen? So basically, move the solution you suggested into the library but using a wrapping box rather than providing a modifier. Not sure, I guess it will still have nested scroll, Im just trying to think of solutions. Maybe the m

[2021-08-05 05:43] vinaygaba commented on #138
Just pushed a PR that fixes this problem!

[2021-08-05 20:23] #138 closed

[2021-08-06 00:54] vinaygaba commented on #158
PR is up for supporting this.

[2021-08-06 02:32] #158 closed

[2021-08-17 15:33] VincentJouanne opened #165 "No preview found in a minified and shrinked build (Proguard)"
Thanks guys for the amazing work on Showkase, we have implemented it in our apps: we use it to quickly see if we missed the implementation of our components.

# Problem
When we launch the showkase activity, it does not find any preview.

<img width="515" alt="Capture d’écran 2021-08-17 à 17 33 12" src="https://user-images.githubusercontent.com/31416665/129756025-3d227b80-b79d-4243-88e6-86658aab4

[2021-08-17 16:48] vinaygaba commented on #165
Could you elaborate on this a bit more. Under what circumstances do you want to run this on a release build? We envisioned Showkase to be an tool that was meant primarily for internal and debug purposes. It sounds like you plan to host the app on the Play Store? Is that what you are trying to do?

[2021-08-18 07:18] VincentJouanne commented on #165
Having Showkase in a staging build would allow stakeholders (designers, POs ...) to easily have a look at the Design System: they might be able to spot mistakes if any.

[2021-08-18 16:30] vinaygaba commented on #165
Sounds reasonable! I'll take a look at share the keep rules you might need!

[2021-08-18 20:22] VincentJouanne commented on #165
Awesome, thank you very much for the value provided 🖖

[2021-09-01 15:30] hedvigoscar opened #167 "Crash when using MDC Compose Theme Adapter"
When using MDC Compose Theme Adapter (https://material-components.github.io/material-components-android-compose-theme-adapter/), and using `MdcTheme` in a `@Preview`, `ShowkaseBrowserActivity` crashes as the activity theme does not extend `Theme.MaterialComponents` (crash occurs on the following line: https://github.com/material-components/material-components-android-compose-theme-adapter/blob/774

[2021-09-02 07:47] hedvigoscar commented on #167
This assumption appears to have been correct - the offending context is from `RTLComponentCard`. This appears, in turn, to be caused by `Context::createConfigurationContext` not inheriting the theme of its parent context, and hence upon resolution receiving the default theme for the platform (for API 29, where I'm performing these tests, this is `android:style/Theme.DeviceDefault.Light.DarkActionB

[2021-09-02 14:53] hedvigoscar commented on #167
Come to think of it - what is the reason that a configuration-context is created in this case? 🤔

Looking at the code, the following line: https://github.com/airbnb/Showkase/blob/645af2ec6e754feaf58aac1fa6a6e6ec1e33c741/showkase/src/main/java/com/airbnb/android/showkase/ui/ShowkaseComponentDetailScreen.kt#L182 appears to be sufficient in making the UI load in RTL. I tried commenting out all of the

[2021-09-02 17:05] vinaygaba commented on #167
@hedvigoscar I think you might be right. Afair, `LocalLayoutDirection` didn't exist when I first created Showkase. I probably added it during some of the later iterations. I think you might be right about it being fine to remove it. Do you wanna push that PR since you found the issue anyway :D I can do it too but would love to make sure you get credited with a contribution to your name!!

[2021-09-02 17:11] hedvigoscar commented on #167
That's thoughtful of you, thanks!

I'll have it up shortly.

[2021-09-02 17:28] hedvigoscar commented on #167
Done, check out #168 @vinaygaba 🙂

[2021-09-03 06:59] HugoAlberto opened #169 "Duplicate classes when building multiple sub modules"
Hi !
I've run into an issue when setting the kapt showkase processor in multiple sub modules in our project.
Works fine with a main module and one sub module but not anymore when adding another one.

[code]

Library is a really good idea btw so good job on that !

As a side note, to give you some feedback of our usage of it :
Our project add feature modules on the fly depending of the app configur

[2021-09-03 13:06] HugoAlberto commented on #169
So it seems it's not much of a big deal !
All previews in our project modules are all located in a `ui` package !

I made it work by taking more than the last `packageSimpleName` and the whole package name in the `ShowkaseCodegenMetadataWriter.kt` file.

[2021-09-03 15:53] vinaygaba commented on #169
@HugoAlberto Can you share what exactly you change to fix the issue for yourself?

[2021-09-03 16:08] HugoAlberto commented on #169
In this file : https://github.com/airbnb/Showkase/blob/645af2ec6e754feaf58aac1fa6a6e6ec1e33c741/showkase-processor/src/main/java/com/airbnb/android/showkase/processor/writer/ShowkaseCodegenMetadataWriter.kt#L22

I replaced with this :
`val moduleName = showkaseMetadataSet.first().packageName.replace('.', '_')`

The generated class name may not be formatted like you want but it was a quick fix as t

[2021-09-03 18:53] vinaygaba commented on #167
Fixed by https://github.com/airbnb/Showkase/pull/168

[2021-09-03 18:53] #167 closed

[2021-09-03 20:15] vinaygaba commented on #169
I see! I think this is something I can fix in the library itself. I intended to use the whole package name itself and am surprised that it was only taking a part of the package. I will experiment at bit and fix it if I notice that that's not happening.

[2021-09-18 11:31] StylianosGakis commented on #165
Is there any update on this?
It seems like [this](https://github.com/airbnb/Showkase/blob/master/showkase/src/main/java/com/airbnb/android/showkase/ui/ShowkaseBrowserActivity.kt#L60) fails on the minified version as it tries to find "${packageName}.ShowkaseModuleCodegen" but it's not named that?
So asking proguard to not strip @Preview composables isn't enough, that class also needs to be retained

[2021-09-19 19:35] StylianosGakis commented on #165
Okay, just adding
`-keep class **.ShowkaseModuleCodegen { }`
to my proguard file seems to render them just fine. Can you @VincentJouanne try it out too and confirm?
I have no idea what other kind of consequences this might have, nor do I know if there is a more optimal proguard configuration that will keep just the necessary stuff, if what I wrote above keeps too much.
So for our use case, having

[2021-09-19 21:14] vinaygaba commented on #165
Hey! I had played around with the proguard configuration a bit and went down a rabbit hole for minimizing the footprint of this library. I was also experimenting with using `debugImplementation` and updating some of the documentation to reflect with some new guidance for use cases where Showkase is only used in debug mode. As far as release builds go, I haven't profiled release build yet and suspe

[2021-09-21 07:11] StefMa commented on #115
May I help you here?
Is this rather an long hanging fruit or something more complicated?

[2021-09-21 10:52] StylianosGakis opened #171 "Render previews when a preview is annotated with more than one @Preview annotation"
Whenever I annotate a composable with two @Preview annotations it no longer exists inside the group that it should (and isn't visible whatsoever in the Components list).

My use case is that I have a preview that looks like this

[code]

In order to be able to see both Dark and Day mode on the IDE itself without launching showkase.

I am not sure if there is a better way to do this in the first pl

[2021-09-21 11:22] StylianosGakis opened #172 "Allow ignoring some preview from showing up in the Showkase component list"
My use case is that I may have one specific composable, but with a various number of different configurations, with different parameters etc, meaning many separate `@Preview` functions on one composable. On the showkase component list however, it'd be nice to only have one of them, while ignoring the rest, to make it easier to navigate and find what I am looking for without duplacation.

An extra

[2021-09-21 11:23] StylianosGakis commented on #172
Okay I just realised one can annotate a preview with *both* `@ShowkaseComposable` and `@Preview` and simply set skip to true on the former. Nevermind!

[2021-09-21 11:24] #172 closed

[2021-09-21 16:46] vinaygaba commented on #171
I do think that since @Preview supports this, we should support it as well. Unsure about the technical feasibility as I'll have to play with it before I can jump to conclusions but I suspect that this should be possible to do.

[2021-09-22 14:31] guk-ioki opened #173 "app_name string is overridden by Showkase"
The file [showkase/src/main/res/values/strings.xml](https://github.com/airbnb/Showkase/blob/master/showkase/src/main/res/values/strings.xml) contains a string with the key `app_name` and the value `Showkase`.

Through manifest merging, this ends up overwriting our app's name in the manifest file.

I don't see a case for this string to exist in Showkase at all 🤔

[2021-09-22 15:13] FelipeRRM opened #176 "Support for @ExperimentalAnimationApi annotation"
When using @ExperimentalAnimationApi, the project doesn't build as the functions generated by Showkase are not annotated with  it

![image](https://user-images.githubusercontent.com/10159615/134369585-ac45d20d-4af6-4c7c-9e63-1d3ef9c67585.png)

![image](https://user-images.githubusercontent.com/10159615/134370121-39931df9-84f6-4e31-bcda-06bd532cdb59.png)

Am I missing something or is there anything

[2021-09-27 04:31] vinaygaba commented on #176
Thanks for flagging this! I'll see what I can do about this!

[2021-09-27 04:33] vinaygaba commented on #165
@VincentJouanne Did you try with the rule that @StylianosGakis suggested?

[2021-09-27 04:35] vinaygaba commented on #176
Temporary fix will be to add this flag as a compiler option in your project and that should hopefully stop this issue from happening - https://stackoverflow.com/questions/53787542/how-to-set-xuse-experimental-kotlin-experimental-in-intellij

[2021-09-27 04:35] vinaygaba commented on #173
Thanks for submitting the PR for this!

[2021-09-28 00:54] #173 closed

[2021-10-04 19:12] cj1098 opened #179 "Resource not found exception for drawables that show up in preview."
It crashes ShowKase when it tries to get a drawable it can't find from a separate module I assume. Although Android studio preview renders it fine.

[2021-10-04 19:32] vinaygaba commented on #179
Can you also post the stack trace here and the composable function in question if you can share its implementation

[2021-10-04 20:42] cj1098 commented on #179
I unfortunately erased my changes on the branch I was testing the implementation because it seemed it wouldn't work for our use case. I can re-do it and post it tomorrow I think. It's probably because it's trying to access a drawable in a different module.. although our dependency setup allows for that, I'm not sure if ShowKase does

[2021-10-04 20:47] vinaygaba commented on #179
There's nothing that should stop you from doing it because all Showkase is doing is simply invoking your preview function. It does not know anything about the implementation details of the function itself so it shouldn't matter as long as your preview function isn't private. Hence I'd love to see the stacktrace as that should have more clues.

[2021-10-06 07:17] Dambakk opened #180 "Support Compose 1.1.0"
I know Compose 1.1.0 is still at alpha stage but would it be possible to have an alternative release following the compose alpha track in addition to the stable one?

[2021-10-06 12:37] Dambakk opened #181 "Question/Feature Request: A way to showcase custom data structures/themes"
Hi!

In our app we have many similar screens with different themes. I'm planning to use composition locals to decide which colors to use, kinda like this:

[code]

I would like to get a preview of these different configurations (e.g Showkase -> Colors -> LotteryA -> all colors defined in `lotteryA`). How can I do that? Or if not possible, consider this a feature request :)

[2021-10-11 16:49] vinaygaba commented on #176
Does adding the compiler option fix the issue for you? @FelipeRRM

[2021-10-11 16:50] vinaygaba commented on #181
This is effectively a dupe of #171 so closing in favor of the other ticket and will plan on adding support soon!

[2021-10-11 16:50] #181 closed

[2021-10-13 07:46] VincentJouanne commented on #165
Hey guys, thanks a lot for your answers, I did not had time to test it again, I am closing it for now and if I encounter the problem again I will re-open it :)

Thanks for your time 🖖

[2021-10-27 13:30] davidvavra opened #188 "Can't build the project if app is a root module"
Hi, we have a multi-module project. Previously I had one module 'main' with some submodules containing previews and it worked. But we also have some modules which are not dependencies of 'main' module. Only the top-level 'app' module has a dependency to all modules. I tried to move `@ShowkaseRoot` to the 'app' module.

Now building project fails with this exception:
[code]

Any ideas what might he

[2021-10-27 15:20] #60 closed, assigned to nobody

[2021-11-01 08:50] StylianosGakis opened #189 "implementation or debugImplementation"
This is more of a question instead of an issue.

In the sample project and in the setup section, it is recommended to use `implementation` instead of `debugImplementation`. Now this tool just like something like leakCanary feels like is something that would only be used in the non-production versions of the app.

So I have two questions.
* Is there a specific reason that the suggestion isn't `debu

[2021-11-04 17:13] vinaygaba commented on #189
This is on me - I need to update the documentation. You are right, you should be using `debugImplementation` instead (I do as well!). In addition, you should also declare your `@ShowkaseRoot` implementation in the debug sourceSet. One last thing you will need to do with this setup is to take an additional `implementation` dependency on `com.airbnb.android:showkase-annotation` to ensure that you ca

[2021-11-04 17:14] vinaygaba commented on #189
^This setup will ensure that there is no way in which there can be any apk size impact on your release builds. I'll be updating the documentation to reflect this soon!

[2021-11-04 17:14] vinaygaba commented on #188
Wanted to check again and see if you were able to resolve this issue with what I recommended

[2021-11-04 17:34] davidvavra commented on #188
I didn't get to it yet. But the 'app' module doesn't have Compose dependencies, so it's most likely the cause.

[2021-11-04 18:04] vinaygaba commented on #188
Yeah that checks out as that's what the stack trace was pointing to as well.

[2021-11-05 14:57] StylianosGakis commented on #189
Awesome, that's very good to know!

[2021-11-06 16:03] alivDev1 opened #190 "Question: push custom data"
Hello, i have a custom data class for typography which holds its name, xml resource id and compose value. Is it possible to push custom data to the showkase gallery ? like i have a list of my objects which I can map to typography and would be nice something like ShowKase.addTypography

We currently have a list of this data class

[code]

which can be actually modified runtime since its a UI librar

[2021-11-08 06:24] #189 closed

[2021-11-17 13:29] joharei opened #191 "Remove dependency on AppCompat"
"Pure" Compose apps have no need for AppCompat, but Showkase depends on it. I don't know if it is actually needed, but it would be nice to remove a big dependency that's probably not used.

[2021-11-17 14:55] joharei opened #192 "Long lines in generated code is formatted incorrectly, leading to compilation error"
I'm getting compilation errors in `ShowkaseCodegen`. Lambda start brackets seem to be placed on the next line, which doesn't compile:
[code]

[2021-11-17 19:59] vinaygaba commented on #191
Yeah don't think there is any reason to still have it. I can get rid of it!

[2021-11-18 07:55] joharei commented on #192
BTW, this only happened after I assigned my previews to groups. I didn't have any issue before I specified groups, and all previews were put together in a "Default group".

[2021-11-18 18:45] aachatz-bc opened #193 "Generated code is stale"
I seem to need to manually go in and delete code from the code gen to get code to compile sometimes.

It seems like neither clean or invalidate caches+restart, actually cleans up the code gen.

[2021-11-23 15:23] davidvavra commented on #188
Hi @vinaygaba. I have added compose dependencies to the app module and the error is gone and I can build the project.

However when I start the ShowKase activity, it crashes with this exception:
[code]

Any ideas?

[2021-11-30 12:04] davidvavra commented on #188
Any updates @vinaygaba? It's currently blocking usage of the library and I don't know how to proceed (only to for library and modify it somehow). I promise that if this is solved, I will write a blogpost a promote this library :)

[2021-11-30 14:56] vinaygaba commented on #188
@davidvavra I was on vacation, sorry about th delay! These kind of errors are usually when you are using a different version of kotlin/Compose than what the library is using. Could you tell me which version of compose you are trying it with?

[2021-11-30 14:58] vinaygaba commented on #188
This library is using 1.0.3. I can probably publish the library with the latest version of compose of that helps. Unfortunately this is a Compose related nuance as they build against specific versions of Kotlin

[2021-12-01 14:12] davidvavra commented on #188
I checked and we are using same versions - Compose 1.0.3 and Kotlin 1.5.30. It was working when the root module was a nested module and not 'app' module, so I think the problem is somewhere else.

[2021-12-07 11:42] davidvavra commented on #188
@vinaygaba I spent hours debugging dependencies and then I found out this was missing:

[code]
🤦‍♂️

So the issues is solved, but I think documentation should be improved (with dependency requirements for root module).

[2021-12-07 13:15] vinaygaba commented on #188
This is actually a compose requirement and has very little to do with Showkase. Since it's a Jetpack Compose only library, the assumption is that Compose is setup to work correctly in your codebase.

[2021-12-07 13:38] davidvavra commented on #188
Our case is that all UI is in feature modules and those modules have correct Compose dependencies. We try to keep `app' module minimalistic, just `Application` object and necessary library setup. There is no UI so no Compose dependencies. But the `app` module is the only one with dependencies to all feature modules, so it needs to be root module for Showkase. And it wasn't obvious to me it also ne

[2021-12-07 16:26] vinaygaba commented on #188
Sounds like I can maybe add this detail in the setup to be explicit that Compose dependencies were needed. I'm glad it resolved for you though! Excited for you to try it out :)

[2021-12-07 18:47] davidvavra opened #197 "No compatibility with MdcTheme"
We are using `MdcTheme` for theme compatibility between our XML-UI and Compose UI. Clicking on section in Showkase UI crashes the app with this exception:

[code]

I could workaround the issue with overriding the theme in AndroidManifest.xml like this:

[code]

(`Theme.Jet` inherits from `Theme.MaterialComponents`)

I'm wondering if the library itself could support this.

[2021-12-07 20:03] davidvavra opened #198 "Conflicts in ShowkaseMetadata from multiple modules when building the app"
Hi, sorry for so many issues, but using the library in large mature app comes with challenges :)

I have two feature modules - it works when I enable Showkase for either of them. But if I enable it for both, build fails with this error:

[code]

I observe that the problem is with generated file `ShowkaseMetadata*`. It takes top-level package and names the file accordingly. This is our package stru

[2021-12-09 15:46] davidvavra opened #199 "The library doesn't work with Proguard/R8"
If the app has Proguard/R8 turned on, generated code is removed and Showkase doesn't show any components.

I workarounded it by adding an exception to Proguard rules - keep everything in a package with generated code - like this:

`-keep class com.jll.jet.app.showkase.** { *; }`

But probably more generic rule should be included in the library.

[2021-12-09 19:02] vinaygaba commented on #199
Are you using a release build of the Showkase browser? The primary use case of the app was in the debug mode so an R8 rule wasn't exported with the app. This is to ensure that we don't have an apk size impact on your app.

[2021-12-09 19:03] vinaygaba commented on #198
Thanks for the report. I will need to repro this on my end and will publish a fix as this is not intended behavior.

[2021-12-09 19:25] vinaygaba commented on #197
We actually have a test to test for exactly this - https://github.com/airbnb/Showkase/blob/0106b8bfa60b6a0bac32840a00d1fa67c6045f38/showkase-browser-testing/src/main/java/com/airbnb/android/showkase_browser_testing/TestComposables.kt#L14

Not sure if you were doing something different 🤔

[2021-12-09 19:33] davidvavra commented on #199
Yes we have multiple flavors of the app and the use-case is that there is a flavor for QA environment. But we want to distribute release build so QA people test as close as production app possible. But seing Showkase is useful for QA people. Maybe R8 configuration can be only in documentation, not exported in the library.

[2021-12-13 11:59] davidvavra commented on #197
I have tried the exact composable from the test in our app (without the workaround):

[code]

[2021-12-13 12:05] davidvavra commented on #197
The root cause is that your activity has a theme `Theme.App.NoActionBar` which doesn't inherit from `Theme.MaterialComponents`

[2021-12-22 16:41] davidvavra opened #200 "onScreenshot method never called during instrumented tests"
Hi,
I'm trying to build a sample app for article about this library & screenshot testing.

When I run `./gradlew connectedDebugAndroidTest`, the `onScreenshot()` method is never called.

Here is the code of the sample app: https://github.com/davidvavra/showkase-screenshot-tests

I'm not sure what's wrong, it works in my work app, but not in this sample app. I have double checked both implementatio

[2021-12-23 19:30] vinaygaba commented on #200
Hi David!
I pulled your project and was able to find the root cause. You will need to add this line in your build.gradle files

[code]
You will also need to make sure that you add this activity in your AndroidManifest. This is needed by Compose but I'll try adding it to the library and hopefully that should avoid needing the user of the library from adding it separately.

[code]

[2021-12-23 20:45] davidvavra commented on #200
Thanks a lot! Your suggestions helped.

[2021-12-24 18:00] #200 closed

[2022-01-03 11:59] davidvavra commented on #198
@vinaygaba I would say this issue has the highest priority for our usage. It's preventing using the library in many modules. I don't want to rename our packages only because of Showkase.

[2022-01-03 23:40] vinaygaba commented on #198
I think I should be able to fix this relatively quickly. Will try reproing it and publish a fix soon. I think I do understand where the problem lies 🤔

[2022-01-04 09:42] davidvavra commented on #198
Great, thanks!

[2022-01-04 17:56] #198 closed

[2022-01-04 19:41] vinaygaba commented on #169
This has been fixed with this PR - https://github.com/airbnb/Showkase/commit/794af71cc6b70d6a2bdde1ffe642fbeb7c1d0f0a

[2022-01-04 19:41] #169 closed

[2022-01-04 19:41] #188 closed

[2022-01-07 09:21] davidvavra commented on #198
@vinaygaba Could you please do a release with this change?

[2022-01-11 06:42] vinaygaba commented on #198
@davidvavra https://github.com/airbnb/Showkase/releases/tag/1.0.0-beta10

[2022-01-11 14:56] davidvavra commented on #198
Great, thanks!

[2022-01-11 17:32] davidvavra opened #203 "Can't update from beta08 to beta09"
Hi,
when I try to update from beta08 to beta09 (or beta10), the build fails with:

(the extension function which does this is not generated)

I can't reproduce it on my open-source project, only in my work project.

I tried updating Kotlin to `1.5.31` and Compose to `1.0.4`, but it didn't help. Any ideas what I can try to debug this?

[2022-01-11 17:37] vinaygaba commented on #203
So the new updates work on your open source project? 🤔

[2022-01-11 17:42] davidvavra commented on #203
Yes, in open source project the update works with no issues. I didn't even have to update Compose & Kotlin version. I tried clean build as well.

Can I get somehow logs which would tell why it was not generated? I tried `--info` or `--debug` but couldn't find anything useful there.

[2022-01-11 17:47] vinaygaba commented on #203
Can you tell me if you have a dependency on this artifact - `androidx.compose.ui:ui-tooling-preview`. If not, can you add it and try it.

[2022-01-11 17:53] davidvavra commented on #203
Yeah, it was a transitive dependency of something. I tried to also add it explicitly, but it didn't help.

[2022-01-11 17:56] vinaygaba commented on #203
Does it have any @Previews or @ShowkaseComposables?

[2022-01-11 17:59] davidvavra commented on #203
Many @Previews in multiple modules. No @ShowkaseComposables. It works in beta08, there are no code changes except updating library versions.

[2022-01-11 18:20] vinaygaba commented on #203
beta09 introduced ksp support to Showkase so it involved a big refactor, although it shouldn't have changed any logic or setup if you continue using ksp - https://github.com/airbnb/Showkase/releases/tag/1.0.0-beta09

Wondering if there are any differences in how things are setup between your projects? I'm going to take a stab and will try to repro it.

[2022-01-12 10:31] davidvavra commented on #203
I was wondering what's different in our project. It's hard to tell, it's a large codebase.

But I had a suspicion about one difference which caused issues in the past
The `@ShowkaseRoot` is in `app` module, which is a top-level module. It has a dependency to all feature modules. But it contains no UI, that's all in feature modules. So it didn't contain any `@Preview`s as well. So I added a dummy c

[2022-01-12 22:41] vinaygaba commented on #203
Can you look at the classes that Showkase will generated (under build > generated > kapt). There should be files in the app module and the feature modules as well. That should have clues about what is being identified.

[2022-01-13 10:17] davidvavra commented on #203
Here is related generated code from the 'app' module:

[code]
[code]
[code]

The feature modules have generated metadata for their own composables. But somehow it's not connected together in the app module.

[2022-01-13 15:05] ofalvai opened #204 "Incorrect width and height when using @Preview annotation"
When I'm using the `@Preview` annotation from Compose, my composables are rendered as tiny squares. They are rendered correctly when I switch to `@ShowkaseComposable`, but I want to restrict Showkase dependencies to `debugImplementation` only, so I don't want to import `@ShowkaseComposable` in any production files.

Looking at the generated code of one `@Preview` annotated and one `@ShowkaseCompos

[2022-01-14 06:12] vinaygaba commented on #203
@davidvavra hmm the only way this can happen is if the `app` module does not depend on the feature modules 🤔

[2022-01-14 15:45] Chrisjc28 opened #205 "Multi-Module Sample"
Please can there be a multi-module example added or more details to the documentation/read me currently trying to implement Showkase in a multi-module project but the getBrowserIntent is being generated separately for each module so i can see all of the components at once

[2022-01-14 16:17] themanol opened #206 "Conflicting overload"
In our current project we have color definitions like that:

[code]

and

[code]

Because the writer metadata is using only the first enclosing class this is creating conflicting overload with the autogenerated code.

[code]

do you think that could be a good idea if instead of using the enclosing class and the element name change it by `showkaseMetadata.showkaseName` and `showkaseMetadata.showkas

[2022-01-15 11:59] marcorighini opened #207 "Integration with Paparazzi screenshot testing"
Showkase is actually providing an integration with facebook screenshot testing.
Is it possible to integrate Showkase with Paparazzi (screenshot testing without device, link https://github.com/cashapp/paparazzi)?

[2022-01-15 17:24] vinaygaba commented on #205
You need to have the ShowkaseRoot implementation only in your root module. It sounds like you might be adding ShowkaseRoot in every module. The current sample has a multi module setup itself. Look at `sample` and `sample-submodule`

https://github.com/airbnb/Showkase/tree/master/sample
https://github.com/airbnb/Showkase/tree/master/sample-submodule

[2022-01-15 17:41] vinaygaba commented on #206
This suggestion makes sense! Thank you for flagging. Do you want to throw in a PR that does this? I can take care of it too but I'd be happy to have more contributors 😅

Just as an FYI - after you make the changes, updating the test cases simply involves changing this boolean and running the tests locally - https://github.com/airbnb/Showkase/blob/master/showkase-processor-testing/src/test/java/com

[2022-01-15 17:43] vinaygaba commented on #193
I think this might be from a known bug in incremental annotation processing. Hopefully KSP solves this. We just released KSP support so would love for you to try it and let us know if you are still seeing this issue - https://github.com/airbnb/Showkase/releases/tag/1.0.0-beta09

[2022-01-15 17:43] #193 closed

[2022-01-15 17:43] #205 closed

[2022-01-15 17:46] vinaygaba commented on #207
Showkase itself doesn't provide any integrations (yet). The blog post that you probably saw(https://proandroiddev.com/automatic-screenshot-testing-for-all-your-compose-previews-6add202fecc7) used Showkase for the automated infra but then integrated it with Facebook's library. In theory, it can work with anything but you will have to do that setup today. I fully intend to provide a sample integrati

[2022-01-15 17:47] vinaygaba commented on #204
Hmm I'll have to take a look at this. KSP is brand new so its possible that some logic could've unintentionally changed 🤔

[2022-01-15 17:48] vinaygaba commented on #204
Also, I need to update some documentation that talks about how Showkase can be added only to the debug builds. I'll do it soon!

[2022-01-15 18:05] vinaygaba commented on #203
I'm trying to repro so that I can potentially fix it. Were you using kapt or ksp?

[2022-01-15 18:16] davidvavra commented on #203
kapt

[2022-01-17 09:37] themanol commented on #206
I've created the PR, finally I had to check about the style too in case of components, because that is allow to have same name, group but different style. Thanks!

[2022-01-17 15:00] themanol opened #210 "Skip default group for typography"
Do you think makes sense to avoid showing the group intermediate screen in typography category when there is only one group?

I can create a PR for showing directly the list of typographies in case there is a single group if you think it is fine.

Thanks!

[2022-01-18 16:34] zoey-juan opened #212 "Showkase was not able to find the root class that youpassed to @ShowkaseScreenshot"
Hi!
I am trying to integrate the screenshot test but always getting `Showkase was not able to find the root class that youpassed to @ShowkaseScreenshot`. Not sure if I missed some configuration, could you please give me some hints? :)

./gradlew xxx-compose-app:runDebugAndroidTestScreenshotTest

[code]
[code]

[code]

[code]

[2022-01-20 10:09] zoey-juan commented on #203
Same issue in our project. beta08 works but not beta09/beta10. I have tested with kapt/ksp, both are not working.

[2022-01-20 13:59] zoey-juan commented on #212
use 1.0.0-beta08 works

[2022-01-21 16:48] vivart opened #213 "showkase browser is not showing component from submodule"
In multi module project structure, showkase browser is showing components only from the module where I have @ShowkaseRoot it's ignoring all compassable from submodules.

[2022-01-22 17:26] vinaygaba commented on #213
Were you using ksp by any chance? I think there might've been a regression after we added ksp support. Can you give me more details about how this is setup.

[2022-01-23 10:57] vivart commented on #213
I am not using ksp. In my project (app -> module a -> module b), I have added showkase dependencies to both the modules and I have added @ShowkaseRoot to module a.  Showkase browser is showing all the components from module a but not showing anything from module b.

[2022-01-24 08:50] Chrisjc28 commented on #213
I have the same issue and raised this as part of a closed issue https://github.com/airbnb/Showkase/issues/205#issue-1103813910 - i might not have provided enough information the first time but to give more information this time i have a kotlin gradle script for each module - i have only one ShowkaseRootModule defined in the base module `app` and the other modules have got the correct dependencies

[2022-01-24 09:15] Chrisjc28 commented on #213
If this helps i downgraded to `1.0.0-beta08` and it seems to be working now

[2022-01-24 09:16] Chrisjc28 commented on #213
Above `1.0.0-beta08` seems to fail to pull through the other modules components

[2022-01-24 16:20] themanol opened #215 "Order parameter in showkase annotation"
Right now all the elements are shown alphabetically inside the groups.

Do you think we can add an optional parameter 'order' and we sort the elements based on this parameter?

[2022-01-24 17:37] vinaygaba commented on #213
Okay I think we have enough reports to know something broke when doing the KSP refactor. I'll be investigating this today and will keep y'all posted!

[2022-01-24 17:38] vinaygaba commented on #203
Duplicate issue here - https://github.com/airbnb/Showkase/issues/213
I finally have some time today to investigate this.

[2022-01-24 20:38] vinaygaba commented on #213
Alright I have a fix for this - https://github.com/airbnb/Showkase/pull/216

[2022-01-24 20:42] vinaygaba commented on #203
This PR should fix it - https://github.com/airbnb/Showkase/pull/216

[2022-01-25 04:43] #210 closed

[2022-01-25 05:29] #206 closed

[2022-01-26 12:58] lpappalettera commented on #212
Same here, only 1.0.0-beta08 seems to work.

[2022-01-26 15:48] themanol commented on #215
I open the https://github.com/airbnb/Showkase/pull/217 for adding this feature

[2022-01-27 11:01] davidvavra commented on #207
Wow, Paparazzi looks interesting. I'm not very happy with Facebook's library. It's not very maintained and it doesn't work for API 28+. If it runs without emulator, it can faster and a deal-breaker for CI integrations. Emulators on CI are pain to setup. I might try to play with Papparazi + Showkase in some free time.

[2022-01-28 03:28] #213 closed

[2022-01-28 03:29] #203 closed

[2022-01-28 03:53] vinaygaba commented on #212
I merged a PR that fixes the multi module issue that some folks reported - https://github.com/airbnb/Showkase/pull/216. That seems to be the main issue in the releases after beta08.

However, I think this issue is something else. In the code you shared above you are using ksp for the processor but the androidTest is using kapt. This is most likely the issue.

[code]

Can you replace it with this i

[2022-01-28 20:21] vinaygaba commented on #207
I think that's a Compose requirement itself. I haven't double checked this but that's what I always assumed.

[2022-01-29 13:19] davidvavra commented on #207
Well, Papparazi has to do it somehow. They support snapshotting Views without instrumentation. They don't support Compose now, but they plan it for v1. But I'm assuming wrapping composables into Views might work. Might be worth investigating how they do it.

[2022-02-01 16:31] andrey-bolduzev commented on #204
Can confirm, I'm seeing the same tiny white squares on beta 10 with kapt as well. Specifying `widthDp` and `heightDp` in the `@Preview` fixes the rendering but is not scalable.

[2022-02-04 12:35] davidvavra commented on #213
Can we get this released please?

[2022-02-04 20:38] vinaygaba commented on #213
You can use this release - https://github.com/airbnb/Showkase/releases/tag/1.0.0-beta11

[2022-02-07 19:07] davidvavra commented on #212
Hi I just updated to beta11 and I'm having the same problem.

I can replicate this issue in my open-source version, so it should be easier to debug.

Repro steps:
1) Check out this branch: https://github.com/davidvavra/showkase-screenshot-tests/tree/beta11
2) Run `./gradlew assembleDebugAndroidTest`

[2022-02-07 19:19] vinaygaba commented on #212
@davidvavra Fantastic! thanks for sharing!

[2022-02-08 06:42] vinaygaba commented on #212
Alright I have a fix up!

[2022-02-08 07:27] vinaygaba commented on #204
I have a fix up for it!

[2022-02-08 17:25] #204 closed

[2022-02-09 23:11] #212 closed

[2022-02-10 06:25] marcorighini opened #220 "Component details are not in light mode when system is in dark mode"
We have
[code]
But for the other cards (that are expected to be in light mode) we are not overriding the mode to light, i.e. `uiMode = Configuration.UI_MODE_NIGHT_NO`.

For this reason, if the system is already in dark mode all the cards are showing the dark mode variant.

[2022-02-13 13:32] saharvx9 commented on #176
not working :(

[2022-02-15 10:44] themanol opened #221 "Open component menu directly in case of not having Typography and colours"
When the project doesn't have typography and colours would be great to open directly the component menu.
In this way we can save a click and avoid showing these 0 items list.

![Screenshot 2022-02-15 at 11 42 47](https://user-images.githubusercontent.com/4733008/154045848-64d28000-2b86-4662-a962-f3507d91db9a.png)

[2022-02-15 14:11] themanol commented on #221
Possible solution:
https://github.com/airbnb/Showkase/pull/222

[2022-02-21 16:23] marcorighini commented on #220
Possible fix https://github.com/airbnb/Showkase/pull/223

[2022-03-01 19:13] kenyee opened #224 "doesn't support @Composables with default params"
Hopefully this is enough of a stacktrace with beta12:

[code]

[2022-03-01 19:32] vinaygaba commented on #224
This also tells me I should add the name of the function in the error. Should make debugging easier 😅

[2022-03-01 19:34] kenyee commented on #224
yesss....please add the name of the function :-)

I just hooked the library up at this point (I haven't added @Preview anywhere...changes are literally just adding the kapt/impl so far)....what it's trying to look at I have no clue 🤷

I did add it to one composable and oddly get the same error...
[code]

[2022-03-01 19:35] vinaygaba commented on #224
@kenyee Showkase does have first class support for @Preview (the Android Studio previews). Do you happen to have those at all in the codebase?

[2022-03-01 19:36] kenyee commented on #224
ahhh...yes.  Those are there.

[2022-03-01 19:40] kenyee commented on #224
Found it I think...the other previewed ones just have a single modifier param that's standard...this one is:
[code]

[2022-03-01 19:41] kenyee commented on #224
hmm...seems like all these need @PreviewParameter as well?
[code]

[2022-03-01 19:42] vinaygaba commented on #224
@kenyee Are you able to see these previews in Android Studio? I think these shouldn't work even in Android Studio

[2022-03-01 20:55] kenyee commented on #224
@Preview works in AS w/ default params.
Showkase needs each of these annotated w/ @PreviewParameter?

[2022-03-01 21:04] vinaygaba commented on #224
@kenyee Interesting! This might be a recent change. When I first wrote Showkase, this wasn't how Android Studio previews worked (although I should add that I first wrote it in 2020 so this could've certainly changed 😅). I'll see if there's a way for me to add support for this 🤔

[2022-03-01 21:05] vinaygaba commented on #224
Showkase currently only supports a single param and that too only if its a PreviewParameter.

[2022-03-01 21:17] kenyee commented on #224
makes sense...thanks 😄

[2022-03-01 21:28] vinaygaba commented on #224
@kenyee The stopgap solution would be to just wrap these methods inside a function that doesn't accept parameters. Definitely not ideal but unblocks you..

[code]

As I think more about it, I think it should be straightforward to add this functionality (support for functions with default params). Will keep you posted!

[2022-03-02 16:30] kenyee commented on #224
Found another @Preview related bug....if you comment out @Preview for a composable, the codegen didn't understand that it's no longer there, so you get an error like:
"Unresolved reference: HomePreview" in ShowkaseHorizonModuleCodegen.kt
Have to do a clean and then rebuild.

[2022-03-06 19:43] marcorighini commented on #207
I started the integration of paparazzi 1.0.0 (snapshot, the version supporting compose) in https://github.com/marcorighini/Showkase/tree/paparazzi-screenshot-testing-integration

Still to investigate:
- codegen not run on `MyScreenshotTest` file (unit test file)
- remove `ComposeTestRule` from current codegen and assess if needs to be replaced with `Paparazzi` rule

[2022-03-11 20:40] luismierez opened #225 "Multi Module setup not importing the preview"
Hello, I'm trying to setup showkase in with multiple modules. It's a pretty straightforward set up, we have our main app module that includes our `ui-component` module. We created another app called design catalog and it also include the same `ui-component` there. This is all working fine for us.

The previews live in the `ui-component` module and I want to start the showkase activity in the desig

[2022-03-22 11:18] lupsyn commented on #199
Any update on this ?

[2022-03-28 00:17] vinaygaba commented on #224
@kenyee Alright the PR to add support for this is up - https://github.com/airbnb/Showkase/pull/228

[2022-04-06 08:43] lepicekmichal opened #231 "StyleName is not working"
StyleName is not working, not even example. Getting just one preview, first one, inside browser activity.

Version: beta12

[code]

[2022-04-06 09:14] lepicekmichal commented on #231
Taking bug, just noticed how it works. Could you maybe just make it more obvious that mutliple styles are nested? I couldn't tell it's after click that I see all options.

Array of styles question stands :)

[2022-04-19 16:33] vinaygaba commented on #220
Fixed! Thank you for your contribution @marcorighini

[2022-04-19 16:33] #220 closed

[2022-04-30 18:52] alexvanyo opened #233 "Support multi-preview annotations (annotations annotated with @Preview)"
In the latest alpha releases of Compose, the `@Preview` annotation can now be applied to other annotation classes: https://android-review.googlesource.com/c/platform/frameworks/support/+/1964936. This will cause those other annotation classes to be treated as previews. This is most useful for bundling common sets of previews together (since the custom annotation class can be annotated with multipl

[2022-04-30 19:32] alexvanyo commented on #207
I was able to utilize Showkase's code generation to automatically populate Paparazzi tests by avoiding the `showkase-screenshot-testing` module.

Instead, I just pulled out the list of components (from `Showkase.getMetadata().componentList`), and used that as the input to a parameterized Paparazzi test, using the `componentKey` for the test name and `component` as the `@Composable` under test.

[2022-04-30 19:40] vinaygaba commented on #207
@alexvanyo Very cool! I had initially taken the parameterized test route myself but eventually found a limitation that didn't allow us to use it with our setup. It was something to do with how the Firebase Test Lab was handling sharding iirc.

[2022-04-30 19:45] alexvanyo commented on #207
Just curious, were you trying to run those Paparzzi + Showkase tests on device?
With Paparazzi, it can just be done off-device (with a parameterized test in `src/test`)

[2022-04-30 19:47] vinaygaba commented on #207
@alexvanyo No I meant for the originally implementation of automated screenshot testing itself. It wasn't using Paparazzi then but I think this might be viable now that Paparazzi supports Compose.

[2022-04-30 19:52] alexvanyo commented on #207
Ah gotcha, yeah parameterized testing doesn't play well with instrumented tests last time I checked, I am using https://github.com/google/TestParameterInjector for that.

[2022-05-01 15:09] davidvavra commented on #207
@alexvanyo Great! Can you share some code sample? I would like to play around with it and maybe then publish some article/library for it. I would love to get rid of Android emulator in our CI setup, it is causing a lot of flakiness/slowness/maintanance.

[2022-05-01 15:58] vinaygaba commented on #207
Just as an update to an earlier comment on this thread, I did push a PR that adds Shot integration as a new artifact - https://github.com/airbnb/Showkase/pull/232. This should give you an end-to-end working solution for screenshot testing. Would love to have a similar artifact for Paparazzi as well...

[2022-05-02 00:03] alexvanyo commented on #207
https://gist.github.com/alexvanyo/c4d2b6530f860f3c89a33324d4152ae8 has the main `ScreenshotTest` class with the integration.

[2022-05-08 23:49] vinaygaba commented on #233
Thanks for flagging this! I think I should be able to skip this check when its applied to an annotation class. I believe I should have this information available and should be a relatively straightforward fix!

[2022-05-11 22:35] cj1098 commented on #179
Hey @vinaygaba! Sorry I haven't responded for a while. We decided to hold off on using this until we could figure out the resource issue. I'm still running into the same issue on beta 08 (version that supports multi-module).
The exact error I get is this:
[code]

The implementation of the composable doesn't really matter I don't think. It crashes when it tries to read from the line that tries to a

[2022-05-12 08:58] NapasPayu commented on #207
@alexvanyo I couldn't make it work. I'd be great if you can share all the related classes or a sample repo.

[2022-05-12 20:21] #179 closed

[2022-05-30 13:19] Skeletonxf opened #235 "Support for AlertDialog previews"
I'm trying to use Showkase to run screenshot tests which include material3 AlertDialogs but the tests are failing with this error:

[code]

Minimal example:
[code]

When I browse to the AlertDialogPreview in the Showkase browser it also takes up the full screen and stops me navigating since I can't close it.

![alert-dialog-component-browser](https://user-images.githubusercontent.com/13869843/1709

[2022-06-06 22:31] alexvanyo commented on #207
https://github.com/android/nowinandroid/pull/101 has a full PR in a project with the setup with Paparazzi for reference!

[2022-06-09 08:18] marcorighini opened #236 "How is versioning managed"
What's the current agreement on versioning?
Are new versions expected with a predefined cadence or are we working with scoped milestones?
In case we are not going to release frequently, a snapshot build could help, enabling the possibility to integrate the latest changes.

[2022-06-10 03:22] vinaygaba commented on #235
Thanks for reporting the issue. I'm going to play with it and see what's going on!

[2022-06-10 03:24] vinaygaba commented on #231
@lepicekmichal  I added some more documentation in this section of the README. Do take a look and let me know if this isn't clear - https://github.com/airbnb/Showkase#representing-component-styles-in-showkase

[2022-06-10 03:24] #231 closed

[2022-06-10 03:28] vinaygaba commented on #236
I just published the latest release - sorry about not doing this sooner. I didn't realize how long it had been even though we had made some improvements - https://github.com/airbnb/Showkase/releases/tag/1.0.0-beta13

There's no fixed cadence. Ideally every time there's a few meaningful improvement', I'd like to see a release. Sometimes this happens even for a single change if necessary.

[2022-06-10 03:28] #236 closed

[2022-06-10 03:29] vinaygaba commented on #225
@luismierez Can you try again! I think there was a bug that has been fixed since the last few release. I apologize for not responding earlier.

[2022-06-10 03:29] #225 closed

[2022-06-17 10:49] badoualy opened #237 "Multiple styles for component processor error"
When compiling, almost 1 times out of 2, I get the following error:

[code]

I only have 1 `@ShowkaseComposable` with the `defaultStyle = true`.

One possible way to fix is to not used `defaultStyle`, but then the generated class (extending `ShowkaseProvider`) has duplicates in `componentList`.

I guess something is wrong with the processor's cache

[2022-06-18 09:10] alivDev1 commented on #190
Hello, any update on this ? I think its a nice improvement on dynamic color/typografy systems. Simple soution could just expose a singleton object with 3 lists like

[code]

Usage would be simple as
ShowkaseCustomData.customGroupedColorsList.add(listOfCustomColors)
 activity.startActivity(Showkase.getBrowserIntent(activity))

[2022-06-28 07:56] rovkinmax opened #239 "Allow disable default padding for showkase card"
For some reasons list items has they own padding and when I add it in to Showkase, browser add additional padding and for designers and me final view has wrong spaces.
For example, on this pic space is too large
<img width="362" alt="Снимок экрана 2022-06-28 в 15 51 21" src="https://user-images.githubusercontent.com/3259038/176125078-170b585a-dbe5-4f1a-b5fb-76f48bad08d5.png">

[2022-07-01 18:18] davidvavra commented on #207
Thanks @alexvanyo, I created a full-fledged example including CI integration based on your work:

https://github.com/davidvavra/showkase-screenshot-tests

And I wrote an article about it:
https://proandroiddev.com/no-emulator-needed-for-screenshot-tests-of-compose-previews-on-ci-d292fa0eb26e

[2022-07-04 04:14] #224 closed

[2022-07-08 04:56] vinaygaba commented on #237
Have you tried Showkase with ksp? Did that happen even with the ksp version?

[2022-07-15 13:19] Holoceo commented on #239
Workaround for this - you can add container for your previews with an elevation:

[code]

[2022-07-18 09:13] tomjegan opened #244 "No preview found in a minified and shrinked build (Proguard)"
With direct reference [to this issue](https://github.com/airbnb/Showkase/issues/165) we are also experience this problem with builds where we have pro guard enabled.

As per [VincentJouanne](https://github.com/VincentJouanne)'s comments we also would like to enable showkase for our internal QA builds such that design/product can inspect the components in app.

We also want to shift the annotation

[2022-07-22 22:03] oas004 opened #245 "[IDEA] Showkase Icons page on the landing page"
Thanks for an awesome library! 😄 I really like it! 🤩

When using it in our component library I thought that it would be cool to display all our icons somehow. I think we could wrap them all in a composable function and add the `@ShowkaseComposable` attribute and it will display inside the components page. However, would it be cool if we had a page only for the icons like we have for typography and

[2022-07-27 10:24] ReginFell opened #247 "Showkase browser doesn't work with empty @Preview BackHandler"
If you have `BackHandler` which does nothing inside @Preview it breaks navigation for Showkase browser

Snippet to reproduce:
[code]

If you open `ContentPreview` from Showkase browser, it will not be possible to navigate back

[2022-08-03 03:35] #192 closed

[2022-08-03 07:41] oas004 opened #248 "Update to use compose version 1.2.0"
Thanks for a super cool library! 🤩

A new [stable](https://developer.android.com/jetpack/androidx/releases/compose) version of Jetpack Compose is out, 1.2.0 😄 Would be cool if Showkase could start using this as well 😄

[2022-08-04 15:11] labreu-bc commented on #248
Yes, this would be great 🙏

[2022-08-05 08:54] micHar opened #250 "Handle private @Preview annotations gracefully"
When trying to build a project with private Previews, Showkase complains:
[code]

Does it have to be an error? Not all previews are Showkase-worthy, some of them can be used just in ide. Maybe it could be a warning or there could be a gradle flag for this? Wdyt? This should be relatively easy, I could contribute if you decide that it's a good idea to add it.

[2022-08-05 09:22] micHar opened #251 "Docs: useKsp gradle flag doesn't seem to be relevant"
The README mentions that in order to use ksp, one should use a `-PuseKsp=true` flag in the gradle command that builds the app. I just checked and it doesn't seem to be necessary.
[code]

 It is used by the showkase sample app, but it's misleading to include it in the installation instruction.

[2022-08-05 09:25] micHar commented on #250
Tbh, I would go as far as to include an option to opt out of using `@Preview` annotations altogether. If I can achieve all the same things with a dedicated showkase annotation, it makes the intent more explicit and is more future-proof as custom annotations will inevitably have more parameters than @Preview.

[2022-08-11 19:51] #248 closed

[2022-08-22 16:27] vinaygaba commented on #250
@micHar Actually, there is an option that's meant to do exactly this. Use the `skip` property in `@ShowkaseComposable`. Essentially, the preview will look like this.

[code]

[2022-08-22 16:29] vinaygaba commented on #251
Yeah you are right that I needed it only in the sample case since I've set up both the annotation processors there. The library itself isn't using the flag, just the sample is. I will remove it from the documentation. Thanks for flagging it!

[2022-08-22 16:29] #251 closed

[2022-08-22 16:29] vinaygaba commented on #237
@badoualy Checking again to see if you are also observing this with ksp?

[2022-08-23 05:31] micHar commented on #250
Hmm, I'm not a big fan of this solution. It's like the library hijacks the more general annotation for its specific purpose. Would be more elegant to at least ignore the private preview and not crash the build when lib can be graceful about it.

[2022-08-23 16:31] vinaygaba commented on #250
@micHar The reason this was done is because silently ignoring would be a lot worse since the expectation for most new users would be that this just works out of the box. Maybe I can instead make this a warning so that at least the user is notified in some way.

[2022-08-23 16:50] micHar commented on #250
Yes, seems like a better idea to warn than to crash. Generally I would agree with you when it comes to the fail fast principle, but here it feels like showkase should be an addition and not hijack the original process.
Alternatively maybe a compiler flag or sth to disable this behavior so that we don't have to use showkase annotations on composables which are not meant for showkase at all.

[2022-08-23 20:50] wang-li opened #257 "Showkase browser generated code compilation issue"
The compilation of the browser generated code fails when having a lot of preview parameter providers.
This is due to an indentation that is added for every preview parameter provider, combined to the line wrapping limit that folds statements in the middle and makes them incorrect to the compiler.

<img src="https://user-images.githubusercontent.com/8343416/186260327-8ba9d862-c9f1-4fe7-8657-ecc1b18

[2022-08-26 04:40] #257 closed

[2022-09-04 09:26] iamutkarshtiwari commented on #250
I have all my preview functions public (neither internal nor private) but I am still getting this error with `1.0.0-beta14`

[2022-09-04 15:30] iamutkarshtiwari opened #260 "Throwing exception even when no ShowkaseComposable annotated function is private or internal"
I have a multi module android project where I am trying to integration showkase library with paparazzi to setup screenshot testing.

I have made sure to replace all my `@Preview` annotated composable functions with `@ShowkaseComposable` and they all are public. However, when build the project, I get this Exception:

[code]

This is blowing my mind away because I have checked several times and all

[2022-09-05 03:26] iamutkarshtiwari commented on #260
My bad. I didn't sleep well so my brain wasn't functioning optimally. There was a private method which I overlooked.

[2022-09-05 03:26] #260 closed

[2022-09-05 03:33] iamutkarshtiwari commented on #250
@vinaygaba I'd also be nice to throw the lines in the error log at which the `@Preview` annotated methods are private.
This was we can quickly navigate to that specific erroneous method and fix the build issue.

I was trying to integrate showkase in my project which has around 100s of `@Preview` annotated methods and showkase was throwing this aforementioned error. It took me a lot of time to find

[2022-09-05 03:39] vinaygaba commented on #250
@iamutkarshtiwari Yeah I'm surprised I had not added that already. I plan to fix this issue this week and I will improve the error logging as well so that you know the source of the error.

[2022-09-07 15:42] vinaygaba commented on #244
@tomjegan Thank you for the tip 🥇

[2022-09-10 19:03] oas004 opened #264 "Add stacked multi preview support for KAPT"
As of #259 we made Showkase support stacking previews. However, because of https://youtrack.jetbrains.com/issue/KT-49682 this was not implemented for KAPT.

Making this issue to remember to add support for this when we can bump to Kotlin version 1.7.20

[2022-09-12 13:15] hamedsilver opened #265 "Unresolved reference: getBrowserIntent"
I'am adding showkase-processor with KSP
but get Unresolved reference: getBrowserIntent

I'm using Showkase In multi module way:

app module:
     * just use Theme and start showCase Activity*
        setContent {
            startActivity(Showkase.getBrowserIntent(this))
            finish()
        }

ui_core module(android Library module):
     *contain Compose components and Theme*

in both mod

[2022-09-16 03:21] iamutkarshtiwari commented on #250
@vinaygaba Thank you for your response!

One more suggestion. I have a library that has several preview methods in it. Preview methods allows devs to see their changes realtime when making changes to the code and in order to be able to use these previews in showkase, we have to make them public. There is one downside though, because of this, these previews would also leak also in the public API on

[2022-09-16 20:02] zaaaach commented on #265
I am getting the exact same thing using KSP.

[2022-09-16 20:17] vinaygaba commented on #265
Are you trying to reference the `getBrowserIntent` in the same module that you declared the `@ShowkaseRoot` class in?

[code]

[2022-09-16 20:34] zaaaach commented on #265
Yes. I added an identical `RootModule.kt` as in the sample. I can also see the code is being generated in the `build` folder and `getBrowserIntent` exists.

[2022-09-16 20:38] chanakin commented on #237
I'm using kapt (ksp is a big jump for us to bring everything over to) and experiencing this issue. So I can't say if this is specific to kapt but I would question the wisdom of telling everyone to perform a complicated migration to KSP in order to keep Showkase from breaking every other build. We spend a lot of time re-running pipelines (and local builds) because of this error.

[2022-09-16 20:47] vinaygaba commented on #237
Hey @chanakin, no where on this thread am I suggesting you to migrate to ksp. I was only asking if this was something you observed with ksp (if you happen to use that already) as it would help me troubleshoot the issue better. The reason this question is relevant is because kapt has some issues with incremental compilation that caused some flakiness in my experience. If this issue was somehow due

[2022-09-18 03:38] vinaygaba commented on #265
If the file is correctly generated with the `getBrowserIntent`, there's no reason for you to not be able to access it, unless you are trying to access it from a different package. Can you show me what the generated file that contains the `getBrowserIntent` looks like?

[2022-09-19 04:33] #250 closed

[2022-09-19 04:37] vinaygaba commented on #250
Fixed the original issue that was flagged. Will add documentation when I'm ready for the next release, otherwise it will cause confusion.

@iamutkarshtiwari I do have some ideas on how you can avoid the previews from the public API. Maybe I should add a section in the README section. If I did allow internal methods, every module will only have its own set of components. It won't be able to aggrega

[2022-09-20 20:59] zaaaach commented on #265
Well, that's what odd to me too.

When I search I see multiple files containing `getBrowserIntent` one for each build flavor all inside of app/build/generated/ksp/{buildFlavor}/kotlin/{packageName}/RootModuleShowkaseExtensionFunctionsCodeGen.kt

Here's the contents of the file:
`// This is an auto-generated file. Please do not edit/modify this file.
package <packagename>

import android.content.Co

[2022-09-20 21:07] zaaaach commented on #265
Yeah, it looks like because I had put the activity I was trying to access `getBrowserIntent` in a different package, but the same module. Didn't realize it was that granular.

[2022-09-21 16:25] carterhudson opened #266 "Doesn't work with Kotlin 1.7?"
When attempting to integrate Showkase while using Kotlin 1.7, building throws an exception:
`java.lang.IllegalArgumentException: Modifiers [PRIVATE] are not allowed on Kotlin parameters. Allowed modifiers: [VARARG, NOINLINE, CROSSINLINE]`

[2022-09-21 16:33] vinaygaba commented on #266
There's a PR that bumps up the versions and is using Kotlin 1.7 successfully as the builds are all passing - https://github.com/airbnb/Showkase/pull/253

I suspect this error might be something that's specific to your codebase and Showkase isn't causing it (unless there's a stacktrace that's pointing to some line in Showkase).

[2022-09-21 16:50] carterhudson commented on #266
Hmm, I'll keep searching, then. Thanks for the quick reply!

[2022-09-21 17:00] vinaygaba commented on #266
@carterhudson there should be something in the error that points to the line that's causing it. That would be super helpful to know.

[2022-09-21 17:07] carterhudson commented on #266
I end up with a large, unhelpful (for me) stacktrace:

[code]

[2022-09-21 17:34] vinaygaba commented on #266
@carterhudson The error seems to be from the KotlinPoet library - https://github.com/square/kotlinpoet/blob/master/kotlinpoet/src/main/java/com/squareup/kotlinpoet/ParameterSpec.kt#L41

Are you using KotlinPoet for something in your codebase? I double checked that Showkase does not have any instances of `KModifier.PRIVATE` being used anywhere. Can you search for `KModifier.PRIVATE` in your codebas

[2022-09-21 17:45] carterhudson commented on #266
I think it's due to a dependency of ours using `KModifier.PRIVATE`, but I'm still confused as to why it only becomes an issue when we depend on Showkase, and not before. 🤔

[2022-09-21 18:30] vinaygaba commented on #266
Yes this would happen due to transitive dependency upgrade as you are using an older version of Kotlin poet.

[2022-09-21 23:32] #266 closed

[2022-09-22 09:56] oas004 commented on #233
When trying to add the last step for supporting multi-preview annotations I stumbled on two issues that I would love to have a discussion on.  Let's say you have a custom annotation like:

[code]

For this type of custom annotation, IMO it will not make sense to render 4 showkase previews for each time you use it on a composable. That is because they would all look the same since Showkase is runni

[2022-09-22 17:16] alexvanyo commented on #233
One note is that this isn't unique to multi-preview annotations, the same questions would also apply with just multiple preview annotations being applied directly (or with combinations):

[code]

I feel like a general solution on the information-gathering side would be to transitively collect a list of all `@Preview`s applied to a `@Composable`. So perhaps `ShowkaseBrowserComponent` would include

[2022-09-22 17:40] vinaygaba commented on #233
@alexvanyo Actually @oas004 has already implemented and merged stacking previews functionally in this PR - https://github.com/airbnb/Showkase/pull/259

So we are very close to having proper multi preview support (final PR here - https://github.com/airbnb/Showkase/pull/263). What's blocking him are these open questions and I'm a bit split on how to handle this from the perspective of what's rendere

[2022-09-22 20:35] oas004 commented on #233
That is a good point. In the implementation of stacked previews from #259 we are rendering one component for each preview annotation. So for instance

[code]

Would result in 3 views. That would potentially lead to duplicate screenshot tests in the end. I think that if we would come to the conclusion to provide a way to filer it out, it would be nice to have it for the stacked previews like the ca

[2022-09-22 20:37] vinaygaba commented on #233
@elihart @pmecho I'd love to get y'all to chime in as well. What according to y'all should be the ideal behavior?

[2022-09-22 20:56] alexvanyo commented on #233
Oh that's awesome, I hadn't seen that!

For screenshot tests specifically, there's an open question I think about which tool should be responsible for what.

If we had all of the information in the `@Preview` (device, locale, font size, dark mode, etc.) then in theory you could use that to configure the screenshot tool to take different screenshots that match up with those different `@Preview` ann

[2022-09-23 03:27] vinaygaba commented on #265
@zaaaach seems like you've identified the root cause and were able to resolve it so I'll go ahead and close this issue

[2022-09-23 03:27] #265 closed

[2022-09-23 10:10] YalcinDelioglu-Ahold commented on #250
Thanks for resolving this. When is it going to be released?

[2022-09-23 13:09] oas004 commented on #233
Yeah I agree. Maybe it makes sense to mimic Android Studio on this? We could at least provide the type from the custom annotation that is used to generate the metadata I think, but that would not solve the case for stacked previews.

[2022-09-25 05:48] vinaygaba commented on #247
@ReginFell I was able to repro and have a fix pushed for it

[2022-09-26 23:11] carterhudson opened #268 "Is there any way to obtain snapshot builds?"
Just saw the multi-preview stuff got merged, and wanted to try it out with ksp - are there snapshots available, or would I have to fork?

[2022-09-27 10:25] iamutkarshtiwari commented on #250
@vinaygaba Sorry I didn't quite understand. Do you mean to add a feature to allow internal preview methods to be aggregated or is there already a functionality that I am missing?

[2022-09-27 17:53] #268 closed

[2022-09-30 05:26] oh-naoki opened #269 "[Request] the test case names to be easier to recognize."
Thank you for the great library! ☺️

I'm using Showkase for Screenshot testing and running on Firebase test lab.
Showkase generates a test case like the following for each Preview.
If there is a Preview that renders a Dialog, the test fails, but it is difficult to identify which Preview failed at that time.
It would be helpful if you could assign name and group to the test case name! 🙇‍♂️

[code]

[2022-10-03 15:18] borsini opened #271 "Multi-modules project : how to avoid public visibility for @Preview?"
The documentation [states that](https://github.com/airbnb/Showkase#4-showkaseroot)

- Does it mean that we can only have one `@ShowkaseRootModule` per project?

- Setting all the composables to render with a public visibility adds unnecessary items to the auto-completion list. Do you have an idea to help mitigate this?

Many thanks!

[2022-10-03 16:48] pmecho commented on #233
I like the idea of mimicking Android Studio. For the browser, what about filtering out previews that are larger than the device's screen bounds? This could include a stub message to the user saying as such to reduce confusion on a potential missing screenshot.

[2022-10-04 09:42] iamutkarshtiwari commented on #271
HI @borsini, thanks for raising this! I [mentioned](https://github.com/airbnb/Showkase/issues/250#issuecomment-1248874672) something similar couple of days back.

[2022-10-04 22:54] zaaaach commented on #244
@tomjegan Is the single `-keep class **.ShowkaseRootCodegen { }` all that is required? I have tried that line in combination alone and in combination in my app & module level proguard rules but I am still getting the no components error.

[2022-10-11 03:39] iamutkarshtiwari opened #272 "ShowkaseMetadata class leaking into public API"
I have a gradle setup where I have several public preview methods (> 20) in a module. This module also has some public API that will be consumed. Since I have renamed all the public preview methods with `PreviewXyz`, no one is going to be using it because the intended public API starts with `EGDSXyz` so that should be fine.

However, there is one issue. For one of those preview methods, a generate

[2022-10-11 09:49] borsini commented on #271
Thanks @iamutkarshtiwari , that would be an alternative. We ended up excluding our Previews from the IDE autocompletion-list.

Regarding my first question, does anyone have a clue? maybe @vinaygaba ? Having multiple ShowkaseRoot would help isolate previews and keep them internal

[2022-10-13 06:50] crjacinro opened #273 "ShowkaseModuleCodegen not regenerated nor updated when preview components are removed."
Prerequisite:

* Add a `Foo` and a `FooPreview` composable accordingly, with `FooPreview` as a preview function for `Foo`.
* Build the project

Scenario:
* Remove `FooPreview` function.

Actual Result:
* Project will not compile since `ShowkaseModuleCodegen` is still looking and referencing for `FooPreview`.

Expected Result:
* `ShowkaseModuleCodegen` should be regenerated or updated since a previ

[2022-10-13 18:42] kibotu opened #274 "add support to other build types than only debug and release"
Currently only debug and release build types are supported

imagine having a setup with build types

[code]

then the dependencies won't be available in alpha builds because the way it is published to maven central

https://repo1.maven.org/maven2/com/airbnb/android/showkase/1.0.0-beta14/

compared to e.g. leakcanary

https://repo1.maven.org/maven2/com/squareup/leakcanary/leakcanary-android/2.9.1/

[2022-10-14 10:10] kibotu commented on #274
ok turns out there is a workaround

[code]

[2022-10-16 16:39] oas004 commented on #233
I have updated [my pr](https://github.com/airbnb/Showkase/pull/263) with the same behaviour as the AS preview. After trying a bit with the AS preview deploy to device functionality, I have realised that that has a bit different approach to this problem as it seems to ignore multiple previews. Might be wrong about this, but to me it seems like that at least. Maybe it makes more sense to mimic that

[2022-10-17 10:55] borsini commented on #197
@davidvavra did you find a solution to setup a MaterialTheme in the showkase browser?

[2022-10-17 11:17] davidvavra commented on #197
@borsini See the workaround I mention in the first post

[2022-10-18 00:11] chanakin commented on #237
Hey @vinaygaba I understand, and unfortunately do not have any insight into whether this issue occurs with ksp, as we do not use ksp.

[2022-10-23 08:28] Lotus-Flower opened #275 "Unresolved Reference for GetBrowserIntent"
I am getting an unresolved reference for `Showkase.GetBrowserIntent(context)` in the most recent version: `1.0.0-beta14`. This is using a bare-bones project with one module and two files: MainActivity and ShowkaseRootModule. Cleaning and rebuilding the project/ invalidating caches does not work. However, downgrading to `1.0.0-beta13` immediately fixes the issue.

[2022-10-23 09:29] Lotus-Flower commented on #275
Looks like this might be something with AS

[2022-10-23 09:29] #275 closed

[2022-10-30 05:52] #247 closed

[2022-11-01 20:43] mattbusuu commented on #193
Possibly related to https://github.com/airbnb/Showkase/issues/273 ?

[2022-11-01 20:48] vinaygaba commented on #273
I'm guessing you are using kapt and not ksp? @crjacinro

[2022-11-02 00:57] crjacinro commented on #273
Yes. Kapt.

[2022-11-10 14:20] oas004 opened #277 "Start using the October BOM release of Jetpack Compose"
Since they have released a BOM for Jetpack Compose (https://developer.android.com/jetpack/compose/setup#using-the-bom) It would be cool to use it for Showkase as well :)

[2022-11-11 19:55] popovanton0 commented on #274
I also encountered this problem, spent a whole day on it, and even wrote a [Medium article](https://medium.com/@popovanton0/fixing-dependency-metadata-in-gradle-65fd86abe4e1) about solving it.

TLDR; As it turns out, if you have a project like this:
[code]
you need (not entirely sure why) to specify `matchingFallbacks` in all `build.gradle` files. I did this using a root file that applies to all m

[2022-11-11 20:03] vinaygaba commented on #274
Thanks, I do see the problem and I don't think it's intended to be like this. I think having a single artifact makes sense to me. I can fix this in the next release.

[2022-11-11 22:03] vinaygaba commented on #274
@popovanton0 also, thank you for the write up and documenting a way to unblock people until the fix is merged

[2022-11-15 10:39] anhanh11001 opened #278 "Showkase#getMetadata() is not generated"
The main question is how to get this generated?

From the doc here, I have to build the app in order to do so. But what if I'm looking for @Preview components from n modules/libraries and there is no such things as an app in my libraries. For example, think of a design system library, there is no app, unless we build like an example app. How can I get that Showkase#getMetadata() generated?

Relate

[2022-11-15 20:42] elcolto commented on #271
Also looking for a solution for this problem.

Would it be possible to add a configuration option to opt-out from auto including `@Preview` annotation from ShowkaseModule? To just include `@ShowkaseComposable(skip = false)` annotated functions?

[2022-11-21 13:32] #278 closed

[2022-11-21 17:33] vinaygaba commented on #171
@iamutkarshtiwari This has been implemented in this PR - https://github.com/airbnb/Showkase/commit/3dffbac3a955804a21357fbb26f9443f040a1650

Closing this issue.

[2022-11-21 17:33] #171 closed